<div class="weekly-table">
    <div class="header">{{tableTitle}}</div>
    <div class="weekly-body">
        <div>
            <h1 class="number-of-courses">{{numbOfCourse}} </h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde quis alias praesentium, 
                aspernatur incidunt ex eaque accusantium vitae natus illum.</p>
        </div>
        <div>
            <h1 class="number-in-wishlist">{{wishlistNumb}} </h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde quis alias praesentium, 
                aspernatur incidunt ex eaque accusantium vitae natus illum.</p>
        </div>
        <div>
            <h1 class="Percentage-of-completion">{{percentage}}%</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde quis alias praesentium, 
                aspernatur incidunt ex eaque accusantium vitae natus illum.</p>
        </div>
    </div>
</div>